<header class="header"></header>

<article class="container">
    <section class="side" id="side">

        <!-- 个人肖像 -->
        <section class="me">
            <section class="portrait">
                <script>
                    function loading_() {
                        document.getElementsByClassName('avatar')[0].style.display = 'block';
                        document.getElementsByClassName('loading')[0].style.display = 'none';
                    }
                </script>
                <!-- 头像照片 -->

                <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div align="center">
                    <img class='avatar' src="assets/images/avatarhw.jpg" style="display:block; margin:0 auto;" alt=""
                        onload="loading_()">
                </div>
                <!--<img src="assets/images/avatar.jpg" >onload="loading()"-->
            </section>

            <h1 class="name">Zhixing Tu</h1>
            <h4 class="info-job">Pursuing Master Degree / UESTC</h4><br>
            <h3 class="hello"><a href="/cv" target="_self"><mark><b>中文页面</b></mark></a></h3>

        </section>

        <!-- 基本信息 -->
        <script>
            function getAge() {
                var myDate = new Date();
                var myAge = myDate.getYear() - 98;
                var age = document.getElementById("age");
                //age.innerHTML = myAge;
            }
            getAge();
        </script>
        <section class="profile info-unit">
            <h2>
                <i class="fa fa-user" aria-hidden="true"></i>Profile
            </h2>
            <hr />
            <ul>
                <li>
                    <label>Basic</label> Female / 2001.3
                </li>
                <li>
                    <label>English</label>
                    <span>IELTS 6.5</span>
                </li>
                <!-- <li>
                    <label>Comput.</label>
                    <span>NCL. 2</span>
                </li> -->
            </ul>
        </section>

        <!-- 联系方式 -->
        <section class="contact info-unit">
            <h2>
                <i class="fa fa-phone" aria-hidden="true"></i>Contact
            </h2>
            <hr />
            <ul>
                <li>
                    <label>Phone</label>
                    <a href="tel:86-152****2619" target="_blank">86-152****-2619</a>
                </li>
                <li>
                    <label>Email</label>
                    <a href="zhixingtu@163.com" target="_blank">zhixingtu@163.com</a>
                </li>
                <li>
                    <label>Homepage</label>
                    <a href="https://ZhixingTu.github.io/" target="_blank">zhixingtu.github.io</a>
                </li>
                <li>
                    <label>Github</label>
                    <a href="https://github.com/ZhixingTu" target="_blank">ZhixingTu</a>
                </li>
            </ul>
        </section>

        <!-- 技能点 -->
        <section class="skill info-unit">
            <h2>
                <i class="fa fa-code" aria-hidden="true"></i>Skills
            </h2>
            <hr />
            <ul>
                <li>
                    <label>MATLAB</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label>LaTeX</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label>Python</label>
                    <progress value="80" max="100"></progress>
                </li>
                <!-- <li>
                    <label>O&M</label>
                    <progress value="85" max="100"></progress>
                </li>
                <li>
                    <label>Reading</label>
                    <progress value="85" max="100"></progress>
                </li>
                <li>
                    <label>Review</label>
                    <progress value="70" max="100"></progress>
                </li> -->
            </ul>
        </section>

        <!-- 技术栈 -->
        <section class="stack info-unit">
            <h2><i class="fa fa-search" aria-hidden="true"></i>Research</h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        Internet of thing
                    </h3>
                    <!--<span>OMP, DL-based</span>-->
                    <h3>
                        Symbiotic radio
                    </h3>
                    <!--<span>AMP</span>-->
                    <h3>
                        Wireless communication
                    </h3>
                    <!--<span>OFDM, OTFS</span>-->
                </li>
            </ul>
        </section>
        <!-- 
        <section class="qrcode info-unit">
            <h2><i class="fa fa-qrcode" aria-hidden="true"></i>QR - Donation</h2>
            <hr />
            <section class="me">
                <section class="portrait">
                    <script>
                        function loading__() {
                            document.getElementsByClassName('avatar_')[0].style.display = 'block';
                            document.getElementsByClassName('loading2')[0].style.display = 'none';
                        }
                    </script>

                    <div class="loading2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div align="center" class='ava'>
                        <img class='avatar_' src="assets/images/qr.jpg" style="display:block; margin:0 auto;" alt=""
                            onload="loading__()">
                    </div>
                </section>

            </section>

        </section> -->


    </section>

    <section class="main">

        <!-- 教育经历 -->
        <section class="edu info-unit">
            <h2>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>Education
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[M.D.] University of Electronic Science and Technology of China
                            <time>2022.9-2025.7</time><br>&nbsp;<i>Information and Communication Engineering</i></span>
                        <br>
                    </h3>
                    <!-- <br> -->
                    <!--<p><b>Ranking</b> <mark>-/500</mark><br></p>-->
                    <ul class="info-content">
                        <!--<li><mark>Hong Kong Ph.D. Fellowship Scheme</mark>(HKPFS) Awardee
                        </li>-->
                        <li>
                            1 1st Class Freshman Scholarships for Outstanding Students, UESTC.
                        </li>
                        <li>
                            1 3rd in National Competition.
                        </li>
                    </ul>

                </li>
            </ul>
            <hr class="myhrline"/>
            <ul>
                <li>
                    <h3>
                        <span>[B.Eng] University of Electronic Science and Technology of China/Univeristy of Glasgow <time>2018.9-2022.7</time><br>&nbsp;<i>Communication Engineering</i></span>
                    </h3>
                    <!-- <br> -->
                    <!--<p><b>Ranking</b> <mark>-/500</mark><br></p>-->
                    <ul class="info-content">
                        <li>
                            1 Conference Paper (1th Author)<sup id="fnref:1" role="doc-noteref"><a href="#fn:1" class="footnote"
                                rel="footnote">[1]</a></sup>.
                        </li>
                        <li>
                            Outstanding Graduate, UESTC.
                        </li>
                        <!--<li>2 Q1 Journal (IEEE CM, IEEE
                            JSTSP)<sup id="fnref:4" role="doc-noteref"><a href="#fn:4" class="footnote"
                                    rel="footnote">[4]</a></sup><sup id="fnref:6" role="doc-noteref"><a href="#fn:6"
                                    class="footnote" rel="footnote">[6]</a></sup> and 1 Q2 Journal (IEEE TVT)<sup
                                id="fnref:5" role="doc-noteref"><a href="#fn:5" class="footnote"
                                    rel="footnote">[5]</a></sup>
                        </li>-->
                        <li>
                            UK 1st Class Honors.
                        </li>
                        <li>
                            1 Academic Scholarship of Glasgow College, UESTC. (top 5%)
                        </li>
                        <li>
                            2 1st Class Scholarships for Outstanding Students, UESTC.
                        </li>
                        <!--<li>
                            IWCMC 2022 Student Best Paper Award<sup
                            id="fnref:3" role="doc-noteref"><a href="#fn:3" class="footnote"
                                rel="footnote">[3]</a></sup>.
                        </li>-->
                        <li>
                            2022 IEEE ICC Oral Report.
                        </li>
                    </ul>
                </li>
            </ul>    
        </section>

        <!-- pub -->
        <section class="pub info-unit">
            <h2>
                <i class="fa fa-book" aria-hidden="true"></i>Publications
            </h2>
            <hr />
            <p style="text-indent: -2.0rem;margin-left: 3.0rem;">
                <span>[1]&nbsp;<b>Z. Tu</b>, R. Long and Y. -C. Liang, "<a
                        href="https://ieeexplore.ieee.org/document/9839116" target="_blank">Reconfigurable Intelligent Surface-Enabled Two-Way Backscatter Communication in Symbiotic Radio</a>,"
                    Accepted by <i>IEEE ICC 2022</i>.
                    <!-- [<a href="https://github.com/scliubit/complex-DnCNN" target="_blank">Code</a>] -->
                    <a href="#fnref:1" class="reversefootnote" role="doc-backlink">↩</a>
                </span>
            </p>


        </section>


        <!-- 服务工作 -->
        <section class="service info-unit">
            <h2>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Service
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>Vice Minister of Academic Affair in Student Society</span>
                        <time>2022.9-2023.7</time>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>Teaching Assistant</span>
                        <time>2021.1-Now</time>
                    </h3>
                    <p> <i>Digital Circuit Designe</i>, 2022 Fall Semester.
                    </p>
                    <p> <i>Communication Principles and Systems</i>, 2022 Fall Semester.
                    </p>
                    <p><i>Team Design Project and Skills</i>, 2023 Spring Semester.</p>
                </li>
            </ul>
        </section>

        <!-- 竞赛经历 -->

        <section class="competition info-unit">
            <h2>
                <i class="fa fa-cogs" aria-hidden="true"></i>Competition
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[ &nbsp;School&nbsp; ] 2023.5 | Mathematical Modeling(UESTC) | 2rd Prize</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[National] 2022.10 | Chian Post-Graduate Mathematical Contest in Modeling | 3rd Prize</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[Provincial] 2021.7 | E-commerce "Innovation, Creativity and 
                            Entrepreneurship" Competition | 3rd Prize</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[ &nbsp;School&nbsp; ] 2021.5 | Mathematical Modeling(UESTC) | 3rd Prize</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[ &nbsp;School&nbsp; ] 2020.9 | "Uchallenge" English Writing Competition | 2rd Prize</span>
                    </h3>
                </li>


            </ul>
        </section>

        <!-- 工作经历 -->

        <!--<section class="work info-unit">
            <h2>
                <i class="fa fa-files-o" aria-hidden="true"></i>Work
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[<mark>Internship</mark>] Cambricon - Hardware Developer</span>
                        <time>2019.8 - 2019.9</time>
                    </h3>
                    <ul class="info-content">
                        <li>Application Specific Integrated Chips (ASIPs) for neural network calculation acceleration.
                        </li>
                        <li>Software development for deploying Inception V3 model on Cambricon ASIPs by C++.
                        </li>
                        <li>Awarded outstanding internship team.
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>
                        <span>[<mark>Internship</mark>] ByteDance - Research & Developer</span>
                        <time>2022.6 - 2022.9</time>
                    </h3>
                    <ul class="info-content">
                        <li>WebRTC-based self-developed real time communication (RTC) infrastructure performance
                            optimization.
                        </li>
                        <li>Research on RTC reliability enhancement strategy.
                        </li>
                    </ul>
                </li>

            </ul>
        </section>-->

        <!-- 项目经验 -->

        <!-- 自我评价 -->
        <section class="work info-unit">
            <h2>
                <i class="fa fa-pencil" aria-hidden="true"></i>Self Comment
            </h2>
            <hr />
            <p>Promising maybe :-)
            </p>
        </section>
    </section>
</article>



<footer class="footer">
    <p>© 2023 Shicong Liu. Last Modified
        <time>2023.06.05</time>.
    </p>
</footer>

<!-- 侧栏 -->
<aside>
    <ul>
        <li>
            <a href="https://github.com/scliubit/scliubit.github.io" target="_blank">Github</a>
        </li>
        <li>
            <a href="https://scliubit.github.io" target="_blank">Blog</a>
        </li>
        <li>
            <a href="https://scliubit.github.io/news" target="_blank">News</a>
        </li>
    </ul>
</aside>

<script src="assets/js/index.js"></script>