<header class="header"></header>

<article class="container">
    <section class="side" id="side">

        <!-- 个人肖像 -->
        <section class="me">
            <section class="portrait">
                <script>
                    function loading_() {
                        document.getElementsByClassName('avatar')[0].style.display = 'block';
                        document.getElementsByClassName('loading')[0].style.display = 'none';
                    }
                </script>
                <!-- 头像照片 -->

                <div class="loading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div align="center">
                    <img class='avatar' src="../cv_en/assets/images/avatarhw.jpg" style="display:block; margin:0 auto;" alt=""
                        onload="loading_()">
                </div>
                <!--<img src="assets/images/avatar.jpg" >onload="loading()"-->
            </section>

            <h1 class="name">涂芷荇</h1>
            <h4 class="info-job">硕士研究生在读 / 成都</h4><br>
            <h3 class="hello"><a href="/cv_en" target="_self"><mark><b>English Page</b></mark></a></h3>

        </section>

        <!-- 基本信息 -->
        <script>
            function getAge() {
                var myDate = new Date();
                var myAge = myDate.getYear() - 98;
                var age = document.getElementById("age");
                // age.innerHTML = myAge;
            }
            getAge();
        </script>
        <section class="profile info-unit">
            <h2>
                <i class="fa fa-user" aria-hidden="true"></i>基本信息
            </h2>
            <hr />
            <ul>
                <li>
                    <label>个人信息</label> 女 / 2001年
                </li>
                <li>
                    <label>英语水平</label>
                    <span>雅思 6.5</span>
                </li>
                <!-- <li>
                    <label>计算机水平</label>
                    <span>二级</span>
                </li> -->
            </ul>
        </section>

        <!-- 联系方式 -->
        <section class="contact info-unit">
            <h2>
                <i class="fa fa-phone" aria-hidden="true"></i>联系方式
            </h2>
            <hr />
            <ul>
                <li>
                    <label>手机</label>
                    <a href="tel:86-152****2619" target="_blank">86-152****-2619</a>
                </li>
                <li>
                    <label>邮箱</label>
                    <a href="zhixingtu@163.com" target="_blank">zhixingtu@163.com</a>
                </li>
                <li>
                    <label>个人主页</label>
                    <a href="https://zhixingtu.github.io/" target="_blank">zhixingtu.github.io</a>
                </li>
                <li>
                    <label>Github</label>
                    <a href="https://github.com/ZhixingTu" target="_blank">ZhixingTu</a>
                </li>
            </ul>
        </section>

        <!-- 技能点 -->
        <section class="skill info-unit">
            <h2>
                <i class="fa fa-code" aria-hidden="true"></i>技能点
            </h2>
            <hr />
            <ul>
                <li>
                    <label>MATLAB</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label>LaTeX</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label>Python</label>
                    <progress value="80" max="100"></progress>
                </li>
                <!--<li>
                    <label>桌面运维</label>
                    <progress value="85" max="100"></progress>
                </li>
                <li>
                    <label>摸鱼</label>
                    <progress value="100" max="100"></progress>
                </li>-->
                <!-- <li>
                    <label>熬夜</label>
                    <progress value="85" max="100"></progress>
                </li> -->
                <!-- <li>
                    <label>论文阅读</label>
                    <progress value="70" max="100"></progress>
                </li> -->
            </ul>
        </section>

        <!-- 技术栈 -->
        <section class="stack info-unit">
            <h2><i class="fa fa-search" aria-hidden="true"></i>研究方向</h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        物联网
                    </h3>
                    <!--<span>OMP, DL-based</span>-->

                    <h3>
                        共生通信
                    </h3>
                    <!--<span>AMP</span>-->

                    <h3>
                        可重构智能反射表面
                    </h3>
                    <!--<span>OFDM, OTFS</span>-->
                </li>
            </ul>
        </section>
    </section>

    <section class="main">

        <!-- 教育经历 -->
        <section class="edu info-unit">
            <h2>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[硕士] 电子科技大学 - 信息与通信工程</span>
                        <time>2022.9-2025.7</time><br>
                    </h3>
                    <!--<p><b>Ranking</b> <mark>-/500</mark><br></p>-->
                    <ul class="info-content">
                        <li>
                            获国家级竞赛三等奖1项
                        </li>
                        <li>
                            获新生一等奖学金
                        </li>
                    </ul>
                </li>

            </ul>

            <ul>
                <li>
                    <h3>
                        <span>[本科] 电子科技大学 - 通信工程</span>
                        <time>2018.9-2022.7</time>
                    </h3>
                    <p>排名 <mark>12/261</mark><br></p>
                    <ul class="info-content">    
                        <li>
                            合作英文会议论文一篇<sup id="fnref:1" role="doc-noteref"><a href="#fn:1"
                            class="footnote" rel="footnote">[1]</a></sup>.
                        </li>
                        <li>
                            参加2022IEEE ICC口头汇报
                        </li>
                        <li>
                            电子科技大学优秀毕业生
                        </li>
                        <li>
                            多次获得电子科技大学一等优秀学生奖学金
                        </li>
                        <li>
                            获省级竞赛三等奖1项
                        </li>
                    </ul>
                </li>

            </ul>
        </section>

        <!-- pub -->
        <section class="pub info-unit">
            <h2>
                <i class="fa fa-book" aria-hidden="true"></i>Publications
            </h2>
            <hr />
            <p style="text-indent: -2.0rem;margin-left: 3.0rem;">
                <span>[1]&nbsp;<b>Z. Tu</b>, R. Long and Y. -C. Liang, "<a
                        href="https://ieeexplore.ieee.org/document/9839116" target="_blank">Reconfigurable Intelligent Surface-Enabled Two-Way Backscatter Communication in Symbiotic Radio</a>,"
                    Accepted by <i>IEEE ICC 2022</i>.
                    <!-- [<a href="https://github.com/scliubit/complex-DnCNN" target="_blank">Code</a>] -->
                    <a href="#fnref:1" class="reversefootnote" role="doc-backlink">↩</a>
                </span>
            </p>
        </section>


        <!-- 服务工作 -->
        <section class="service info-unit">
            <h2>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>服务工作
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span><del>电子科技大学 抗干扰研究生会学术部副部长兼心理委员</del></span>
                        <time><del>2022.9-2023.7</del></time>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>助教工作</span>
                        <time>2021.1-至今</time>
                    </h3>
                    <p>
                        数字电路设计, 2022秋季学期
                    </p>
                    <p>
                        通信原理与系统, 2022秋季学期
                    </p>
                    <p>
                        团队设计项目和技能, 2023秋季学期
                    </p>
                </li>
            </ul>
        </section>

        <!-- 竞赛经历 -->

        <section class="competition info-unit">
            <h2>
                <i class="fa fa-cogs" aria-hidden="true"></i>竞赛经历
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[校级] 2023.5 | 数学建模校赛（电子科技大学） | 二等奖</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[国家] 2022.9 | 数学建模国赛 | 三等奖</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[省级] 2021.7 | 全国大学生电子商务“创新、创造、创业”竞赛 | 三等奖 </span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[校级] 2021.5 | 数学建模校赛（电子科技大学） | 三等奖</span>
                    </h3>
                </li>

                <li>
                    <h3>
                        <span>[校级] 2020.9 | 外研社国才杯全国英语写作大赛 |二等奖</span>
                    </h3>
                </li>


            </ul>
        </section>

        <!-- 工作经历 -->

        <!--<section class="work info-unit">
            <h2>
                <i class="fa fa-files-o" aria-hidden="true"></i>工作经历
            </h2>
            <hr />
            <ul>
                <li>
                    <h3>
                        <span>[实习] 寒武纪公司－硬件开发</span>
                        <time>2019.8 至 2019.9</time>
                    </h3>
                    <ul class="info-content">
                        <li>学习寒武纪神经网络运算芯片，理解神经网络基于硬件快速实现的原理。
                        </li>
                        <li>参与大型网络迁移至硬件快速实现课题，将inception v3网络迁移至硬件处理，并采用C语言完成算子的定义。
                        </li>
                        <li>获得优秀实习团队奖励。
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>
                        <span>[实习] 字节跳动－研发</span>
                        <time>2022.6 至 2022.9</time>
                    </h3>
                    <ul class="info-content">
                        <li>基于WebRTC协议基础自研RTC框架中UDP传输协议优化
                        </li>
                        <li>RTC传输协议的可靠性增强方案设计
                        </li>
                    </ul>
                </li>

            </ul>
        </section>-->

        <!-- 项目经验 -->

        <!-- 自我评价 -->
        <section class="work info-unit">
            <h2>
                <i class="fa fa-pencil" aria-hidden="true"></i>自我评价/期望
            </h2>
            <hr />
            <p>未来可期
            </p>
        </section>
    </section>
</article>



<footer class="footer">
    <p>© 2023 涂芷荇. Last Modified
        <time>2023年06月05日</time>.
    </p>
</footer>

<!-- 侧栏 -->
<aside>
    <ul>
        <li>
            <a href="https://github.com/ZhixingTu/zhixingtu.github.io" target="_blank">Github</a>
        </li>
        <li>
            <a href="https://zhixingtu.github.io" target="_blank">Blog</a>
        </li>
        <li>
            <a href="https://zhixingtu.github.io/news" target="_blank">News</a>
        </li>
    </ul>
</aside>

<script src="../cv_en/assets/js/index.js"></script>